@model ShowRegSys.ViewModels.CreateDogViewModel

@{
    ViewBag.Title = "Dodawanie psa";
}

<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dog</legend>

        @Html.HiddenFor(m => m.DogId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.numerPKR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numerPKR)
            @Html.ValidationMessageFor(model => model.numerPKR)
        </div>
        <div class="editor-ladel">
            @Html.LabelFor(model => model.ListaPkr)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedPkrValue, (IEnumerable<SelectListItem>)Model.ListaPkr)
            @Html.ValidationMessageFor(model => model.SelectedPkrValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BreedList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedBreedFromList, (IEnumerable<SelectListItem>)Model.BreedList)
            @Html.ValidationMessageFor(model => model.SelectedBreedFromList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListaColor)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedColorFromList, (IEnumerable<SelectListItem>)Model.ListaColor)
            @Html.ValidationMessageFor(model => model.SelectedColorFromList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListaGender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedGenderFromList, (IEnumerable<SelectListItem>)Model.ListaGender)
            @Html.ValidationMessageFor(model => model.SelectedGenderFromList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TattooOrChip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TattooOrChip)
            @Html.ValidationMessageFor(model => model.TattooOrChip)
        </div>
        
        <div class="editor-label">
            @Html.Hidden("UserProfileId")
            @Html.ValidationMessageFor(model => model.UserProfileId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Breeder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Breeder)
            @Html.ValidationMessageFor(model => model.Breeder)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titles)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titles)
            @Html.ValidationMessageFor(model => model.Titles)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Moje")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#SelectedPkrValue").change(function () {
            //    $.get('/Dog/GetProperBreeds?pkrName=' + $(this).val(), function (response) {
            //        var breeds = $.getJSON(response);
            //        var selectedPkrValue = $("#SelectedBreedFromList");

            //        $("#SelectedBreedFromList").remove();
            //        for (i = 0; i < breeds; i++) {
            //            selectedPkrValue.append($("").val(breeds[i].Value).text(breeds[i].text));
            //        }
            //    });
            //});

@*            $("#SelectedPkrValue").change(function () {
                var SelectedBreedFromList = $("#SelectedBreedFromList");
                $('#SelectedBreedFromList > option').remove();

                $.ajax({
                    url: '@Url.Action("GetProperBreeds")',
                    data: { pkrName: $(this).val() },
                    cache: false,
                    dateType: "JSON",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            selectedPkrValue.append("<option>" + data[i] + "</option>");
                        }
                    }
                });
            });*@
        });
    </script>
}
