@model ShowRegSys.Models.Dog

@{
    ViewBag.Title = "Usuń psa";
}

<h2>@ViewBag.Title</h2>

<h3>Czy na pewno chcesz usunąć następującego psa?</h3>
<br />

<fieldset>
    <legend>Dog</legend>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Name)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Breed.Name)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Breed.Name)
    </div>

    <div class="display-label">
        <b>Właściciel</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.BirthDate)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powróć do listy psów", "MyDogs")
    </p>
}
