@model ShowRegSys.ViewModels.DogDetailsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Details";
}

<h2>Informacje szczegółowe</h2>
<fieldset>
    <legend>Dog</legend>
    <table>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Name)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.numerPKR)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.PkrName)-
                @Html.DisplayFor(model => model.numerPKR)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.BreedName)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.BreedName)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.ColorName)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.ColorName)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.GenderName)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.GenderName)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.TattooOrChip)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.TattooOrChip)
            </td>
        </tr>
       @* <tr>
            <td>
                <b>@Html.DisplayNameFor( model => model.UserProfile.UserName)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.UserProfile.UserName)
            </td>
        </tr>*@
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Breeder)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Breeder)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.BirthDate)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.BirthDate)
            </td>
        </tr>
    </table>

    <div class="display-field">
        <table>
            <tr>
                <th>Zgłoszony na:</th>
            </tr>
            <tr>
                <td>
                    <b>Wystawa</b>
                </td>
                <td>
                    <b>Klasa</b>
                </td>
            </tr>


            @foreach (var enrol in Model.EnrollmentPagedList)
            {
                <tr>
                    <td>
                        @enrol.Shows.Name
                    </td>
                    <td>
                        @enrol.Classes.NamePL
                    </td>
                </tr>

            }
        </table>
    </div>
    <br />

    Strona @(Model.EnrollmentPagedList.PageCount < Model.EnrollmentPagedList.PageNumber ? 0 : Model.EnrollmentPagedList.PageNumber) z @Model.EnrollmentPagedList.PageCount 
         
    @Html.PagedListPager( Model.EnrollmentPagedList, 
            page => Url.Action("Details", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) )


    

</fieldset>
<p>
    @Html.ActionLink("Wróc do listy psów", "Index")
</p>
