@model ShowRegSys.Models.Dog

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dog</legend>

        @Html.HiddenFor(model => model.DogId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-ladel">
            @Html.LabelFor(model => model.Pkr)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PkrID")
            @Html.ValidationMessageFor(model => model.Pkr)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.numerPKR)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numerPKR)
            @Html.ValidationMessageFor(model => model.numerPKR)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Breed)
        </div>
        <div class="editor-field">
            @Html.DropDownList("BreedID")
            @Html.ValidationMessageFor(model => model.Breed)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Color)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ColorID")
            @Html.ValidationMessageFor(model => model.Color)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownList("GenderID")
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.TattooOrChip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TattooOrChip)
            @Html.ValidationMessageFor(model => model.TattooOrChip)
        </div>
        
        <div class="editor-label">
            @Html.Hidden("UserProfileId")
            @Html.ValidationMessageFor(model => model.UserProfileId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Breeder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Breeder)
            @Html.ValidationMessageFor(model => model.Breeder)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titles)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titles)
            @Html.ValidationMessageFor(model => model.Titles)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy psów", "Moje")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
