@model ShowRegSys.Models.Dog

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dog</legend>

        @Html.HiddenFor(model => model.DogId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BreedID, "Breed")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BreedID", String.Empty)
            @Html.ValidationMessageFor(model => model.BreedID)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Moje")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
