@model ShowRegSys.ViewModels.DogCreateViewModel

@{
    ViewBag.Title = "Edytowanie psa";
}

<h2>@ViewBag.Title</h2>
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dog</legend>

        @Html.HiddenFor(model => model.DogId)
        @Html.Hidden("UserProfileId")


        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-ladel">
            @Html.LabelFor(model => model.PkrNumber)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedPkrValue, (IEnumerable<SelectListItem>)Model.PkrList)
            @Html.ValidationMessageFor(model => model.SelectedPkrValue)

            @Html.EditorFor(model => model.PkrNumber)
            @Html.ValidationMessageFor(model => model.PkrNumber)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.BreedList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedBreedFromList, (IEnumerable<SelectListItem>)Model.BreedList)
            @Html.ValidationMessageFor(model => model.BreedList)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ColorList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedColorFromList, (IEnumerable<SelectListItem>)Model.ColorList)
            @Html.ValidationMessageFor(model => model.ColorList)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.GenderList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedGenderFromList, (IEnumerable<SelectListItem>)Model.GenderList)
            @Html.ValidationMessageFor(model => model.SelectedGenderFromList)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.TattooOrChip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TattooOrChip)
            @Html.ValidationMessageFor(model => model.TattooOrChip)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Breeder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Breeder)
            @Html.ValidationMessageFor(model => model.Breeder)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titles)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titles)
            @Html.ValidationMessageFor(model => model.Titles)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy psów", "MyDogs")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#SelectedPkrValue").change(function () {
                $('#SelectedBreedFromList > option').remove();

                $.ajax({
                    url: '@Url.Action("GetProperBreeds")',
                    data: { pkrName: $(this).val() },
                    cache: false,
                    dateType: "json",
                    type: "POST",
                    error: function() {
                        alert("An error occurred.");
                    },
                    success: function (data) {
                        var items = "";
                        $.each(data, function(i, item)
                        {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        });
                        
                        $("#SelectedBreedFromList").html(items);
                    }
                });
            });
        });
    </script>
}

