@model PagedList.IPagedList<ShowRegSys.Models.Dog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Psy";
}

<h2>@ViewBag.Title</h2>

@using(Html.BeginForm("Index", "Dog", FormMethod.Get))
{
    <p>
        Znajdź psa po imieniu lub rasie @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>
}
<table>
    <tr>
        <th>
            @Html.ActionLink("Imię i przydomek", "Index", new { sortOrder = ViewBag.NameSortParm})
        </th>
        <th>
            Rasa
        </th>
        <th>
            Właściciel
        </th>
        <th>
            Data urodzenia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { id=item.DogId })
        </td>
    </tr>
}

</table>
<br />

Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) )