@model IEnumerable<ShowRegSys.Models.Dog>

@{
    ViewBag.Title = "Moje";
}

<h2>Moje</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Breed
        </th>
        <th>
            Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DogId })
        </td>
    </tr>
}

</table>
