@model IEnumerable<ShowRegSys.Models.UserProfile>

@using (Html.BeginForm("RoleAddToUser", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-success">@ViewBag.ResultMessage</div>
    <p>
        Nazwa użytkownika : @Html.TextBox("UserName")
        Role: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)

    </p>

    <input type="submit" value="Zapisz" />
}



<div class="hr"></div>
@using (Html.BeginForm("GetRoles", "Admin"))
{
    @Html.AntiForgeryToken()
    <p>
        Nazwa użytkownika : @Html.TextBox("UserName")
        <input type="submit" value="Zobacz role użytkownika" />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{

        <h3>Role dla danego użytkownika</h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
}