<!DOCTYPE html>
<html lang="pl">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title — ShowRegSys</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("ShowRegSys", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                           @* <li>@Html.ActionLink("Strona główna", "Index", "Home")</li> *@    
                            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Psy", "Index", "Dog")</li>
                            <li>@Html.ActionLink("Moje psy", "MyDogs", "Dog")</li>
                            @if ( Request.IsAuthenticated && HttpContext.Current.User.IsInRole( "Organizer" ) )
                                {
                                    <li>@Html.ActionLink("Moje Wystawy", "MyShows", "Show")</li>
                                }
                            <li>@Html.ActionLink("Wystawy", "Index", "Show")</li>
                            <li>@Html.ActionLink("Zgłaszanie", "Create", "Reg")</li>
                            <li>@Html.ActionLink("Admin", "RoleAddToUser", "Admin")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year — ShowRegSys</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
