@model ShowRegSys.ViewModels.EnrollmentCreateViewModel

@{
    ViewBag.Title = "Zgłoszenie psa na wystawę";
}

<h2>Złoszenie psa na wystawę</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        
    <fieldset>
        <legend>Enrollment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShowList)
        </div>
        <div class="editor-label">
            @Html.DropDownListFor(model => model.SelectedShowFromList, (IEnumerable<SelectListItem>)Model.ShowList, string.Empty)
            @Html.ValidationMessageFor(m => m.ShowList)
        </div>

        <div class="editor-field">
            @Html.LabelFor(model => model.DogList)
        </div>
        <div class="editor-label">
            @Html.DropDownListFor(model => model.SelectedDogFromList, (IEnumerable<SelectListItem>)Model.DogList, string.Empty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SelectedClassFromList, (IEnumerable<SelectListItem>)Model.ClassList, string.Empty)
        </div>
        <p>
            <input type="submit" value="Zgłoś" />
        </p>
    </fieldset>
}
