@model ShowRegSys.ViewModels.ShowCreateEditViewModel
@{
    ViewBag.Title = "Nowa wystawa";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Show</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Place)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Place)
            @Html.ValidationMessageFor(model => model.Place)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RankList)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.SelectedRankFromList, (IEnumerable<SelectListItem>)Model.RankList, string.Empty)
            @Html.ValidationMessageFor(model => model.SelectedRankFromList)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attention)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attention)
            @Html.ValidationMessageFor(model => model.Attention)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnrollmentDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnrollmentDate)
            @Html.ValidationMessageFor(model => model.EnrollmentDate)
        </div>
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.Organizer.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownList("OrganizerID", String.Empty)
            @Html.ValidationMessageFor(model => model.OrganizerID)
        </div>
        *@
        <p>
            <input type="submit" value="Stwórz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy wystaw", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
