@model ShowRegSys.Models.Show

@{
    ViewBag.Title = "Usuń wystawę";
}

<h2>@ViewBag.Title</h2>

<h3>Czy na pewno chcesz usunąć tą wystawę?</h3>
<table>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Name):</b></td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
</table>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót do listy wystaw", "Index")
    </p>
}
