@model ShowRegSys.ViewModels.ShowDetailsViewModel
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Szczegóły wystawy";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Name)    </b></td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.City)    </b></td>
        <td>@Html.DisplayFor(model => model.City)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Place)    </b></td>
        <td>@Html.DisplayFor(model => model.Place)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Date):</b></td>
        <td>@Html.DisplayFor(model => model.Date)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.RankName):</b></td>
        <td>@Html.DisplayFor(model => model.RankName)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.OrganizerName):</b></td>
        <td>@Html.DisplayFor(model => model.OrganizerName)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.OrganizerTel)</b></td>
        <td>@Html.DisplayFor(model => model.OrganizerTel)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.OrganizerEmail):</b></td>
        <td>@Html.DisplayFor(model => model.OrganizerEmail)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.OrganizerBankAccount):</b></td>
        <td>@Html.DisplayFor(model => model.OrganizerBankAccount)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.OrganizerWww)    </b></td>
        <td>@Html.DisplayFor(model => model.OrganizerWww)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Attention)    </b></td>
        <td>@Html.DisplayFor(model => model.Attention)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.EnrollmentDate)    </b></td>
        <td>@Html.DisplayFor(model => model.EnrollmentDate)</td>
    </tr>
</table>
<h3>@Html.ActionLink("Dodaj zdjęcie", "Upload", "Image", new { showID = Model.ShowId }, null )</h3>

@using (Html.BeginForm("Details", "Show", FormMethod.Get))
{
    <p>
        Znajdź psy po rasie @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>
}

    <div class="display-field">
        <table>
            <tr>
                <th>
                    <b>Zgłoszone psy:</b>
                </th>
            </tr>
            <tr>
                <td>
                   <b>Imię i przydomek</b>
                </td>
                <td>
                    <b>Rasa</b>
                </td>
                <td>
                    <b>@Html.ActionLink("Klasa", "Details", new {sortOrder = ViewBag.NameSortParm})</b>
                </td>
            </tr>
            @foreach(var enrol in Model.EnrollmentList)
            {
                <tr>
                    <td>
                        @enrol.Dogs.Name
                    </td>
                    <td>
                        @enrol.Dogs.Breed.Name
                    </td>
                    <td>
                        @enrol.Classes.NamePL
                    </td>
                </tr>
            }

        </table>
    </div>
Strona @(Model.EnrollmentList.PageCount < Model.EnrollmentList.PageNumber ? 0 : Model.EnrollmentList.PageNumber) z @Model.EnrollmentList.PageCount

@Html.PagedListPager(Model.EnrollmentList,
            page => Url.Action("Details", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



    
<p>
    @Html.ActionLink("Powrót do listy wystaw", "Index")
</p>
