@model ShowRegSys.Models.Show

@{
    ViewBag.Title = "Szczegóły wystawy";
}

<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Name)    </b></td>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Date):</b></td>
        <td>@Html.DisplayFor(model => model.Date)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Rank.Name):</b></td>
        <td>@Html.DisplayFor(model => model.Rank.Name)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Organizer.Name):</b></td>
        <td>@Html.DisplayFor(model => model.Organizer.Name)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Organizer.Telephone)</b></td>
        <td>@Html.DisplayFor(model => model.Organizer.Telephone)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Organizer.Telephone):</b></td>
        <td>@Html.DisplayFor(model => model.Organizer.Email)</td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Organizer.BankAccount):</b></td>
        <td>@Html.DisplayFor(model => model.Organizer.BankAccount)</td>
    </tr>
</table>

    <div class="display-field">
        <table>
            <tr>
                <th>Zgłoszone psy:</th>
            </tr>
            @foreach(var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dogs.Name)
                    </td>
                </tr>
            }
        </table>
    </div>
    
<p>
    @Html.ActionLink("Edytuj wystawę", "Edit", new { id=Model.ShowID }) |
    @Html.ActionLink("Powrót do listy wystaw", "Index")
</p>
